*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:Inter,sans-serif;
    background:#F6F2EC;
    color:#252525;

}

img{

    display:block;
    max-width:100%;

}

a{

    color:inherit;

}